.App {
  text-align: center;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
}


.App-logo:hover {
  height: 10vmin;
  pointer-events: none;
}

#disco-logo{
  height: 70vmin;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a { color: inherit; } 


#api{
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #eee;
}
img {
  margin: 20px;
  height: 200px;
}
@-moz-keyframes start {
  from {
    transform: perspective(1000px) rotateY(0);
  }
  to {
    transform: perspective(1000px) rotateY(90deg);
  }
}
@-webkit-keyframes start {
  from {
    transform: perspective(1000px) rotateY(0);
  }
  to {
    transform: perspective(1000px) rotateY(90deg);
  }
}
@-o-keyframes start {
  from {
    transform: perspective(1000px) rotateY(0);
  }
  to {
    transform: perspective(1000px) rotateY(90deg);
  }
}
@keyframes start {
  from {
    transform: perspective(1000px) rotateY(0);
  }
  to {
    transform: perspective(1000px) rotateY(90deg);
  }
}
@-moz-keyframes end {
  from {
    transform: perspective(1000px) rotateY(-90deg);
  }
  to {
    transform: perspective(1000px) rotateY(0);
  }
}
@-webkit-keyframes end {
  from {
    transform: perspective(1000px) rotateY(-90deg);
  }
  to {
    transform: perspective(1000px) rotateY(0);
  }
}
@-o-keyframes end {
  from {
    transform: perspective(1000px) rotateY(-90deg);
  }
  to {
    transform: perspective(1000px) rotateY(0);
  }
}
@keyframes end {
  from {
    transform: perspective(1000px) rotateY(-90deg);
  }
  to {
    transform: perspective(1000px) rotateY(0);
  }
}
